@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-black text-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .animate-marquee {
    display: inline-block;
    animation: marquee 30s linear infinite;
  }
  
  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }
}

